<div ng-controller="DemoCtrl" ng-cloak>
    <div  flex=100  md-row-height="fit" layout-padding>
      <div layout="row"><br>
        <md-subtitle>Contact Details </md-subtitle>
      <div layout="column">
      <md-input-container>
        <label>Name</label>
        <input ng-model="user.name">
      </md-input-container>
      <md-input-container>
        <label>Designation</label>
        <input ng-model="user.when">
      </md-input-container>
    </div>
    <div layout="column">
      <md-input-container>
        <label>Current-Location</label>
        <input ng-model="user.when">
      </md-input-container>
      <md-input-container>
        <label>Sex</label>
        <input ng-model="user.where">
      </md-input-container>
    </div>
    <div layout="column">
      <md-input-container>
        <label>DOB</label>
        <input ng-model="user.where">
      </md-input-container>
      <md-input-container>
        <label>Organisation</label>
        <input ng-model="user.when">
      </md-input-container>
    </div>
  </div>
</div>
</div>
